# Generate patient data as input format for Clairvoyance

In [1]:
import os
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter

from utils.data_io import *
from utils.utils import *

In [2]:
data_path_origin = 'processed_dataset/all/'
data_path_save = 'processed_dataset/clairvoyance/'

patient_data_path = data_path_origin + 'data/'
patient_info_path = data_path_origin + 'info/'

In [3]:
data_mapping = pd.read_csv('processed/DatasetOverview - Inputs.tsv', sep='\t', header=0)
table_dict = data_mapping[['TableID', 'TableSource']]
table_dict = table_dict.drop_duplicates()
table_dict = {table_dict.iloc[i,0]:table_dict.iloc[i,1] for i in range(table_dict.shape[0])}

uid_dict = data_mapping[['ParamNameOrigin', 'TableUID']]
uid_dict = {uid_dict.iloc[i,0]:uid_dict.iloc[i,1] for i in range(uid_dict.shape[0])}

uid2str_dict = {v:k for k,v in uid_dict.items()}

In [4]:
for uid in data_mapping[data_mapping['TableUID']<1e5]['TableUID']:
    print(f'{uid}: {uid2str_dict[uid]}')

1: patientunitstayid
2: patienthealthsystemstayid
3: gender
4: age
5: ethnicity
6: hospitalid
7: wardid
8: apacheadmissiondx
9: admissionheight
10: hospitaladmittime24
11: hospitaladmitoffset
12: hospitaladmitsource
13: hospitaldischargeyear
14: hospitaldischargetime24
15: hospitaldischargeoffset
16: hospitaldischargelocation
17: hospitaldischargestatus
18: unittype
19: unitadmittime24
20: unitadmitsource
21: unitvisitnumber
22: unitstaytype
23: admissionweight
24: dischargeweight
25: unitdischargetime24
26: unitdischargeoffset
27: unitdischargelocation
28: unitdischargestatus
29: uniquepid

# export all static data to csv

In [96]:
SELECTED_STATIC_DATA = [
    'gender',
    'age',
#     'admissionheight',
#     'admissionweight',
]

GENDER_DICT = {
    'Female': 0,
    'Male': 1,
}

df_static = pd.DataFrame(columns=['id', 'gender', 'age'])

for filename in os.listdir(patient_info_path):
    
    info = pd.read_csv(patient_info_path+filename, sep='\t', header=0)
    pid = int(float(info[info['UID']==1]['Value'].iloc[0]))
    
    info_data = [pid]
    for entry in SELECTED_STATIC_DATA:
        uid = uid_dict[entry]
        val = info[info['UID']==uid]['Value'].iloc[0]
        # select patient with valid static data entries
        if pd.isnull(val):
            break
        if entry == 'gender':
            if val not in GENDER_DICT.keys():
#                 print('gender: ', val)
                break
            info_data.append(GENDER_DICT[val])
        if entry == 'age':
            # select patient > 18 and <= 89 years old
            try:
                val = int(val)
            except:
#                 print('age is not integer: ', val)
                break
            if val < 18 or val > 89:
#                 print('age: ', val)
                break
            info_data.append(val)
            
    if len(info_data) == 3:
        info_data = pd.Series(info_data, index=df_static.columns)
        df_static = df_static.append(info_data, ignore_index=True)
#     else:
#         print(info_data)

In [ ]:
df_static = df_static.sort_values(by='id')
df_static.to_csv('processed_dataset/clairvoyance/static_data.csv', sep=',', index=False)

In [19]:
df_static = pd.read_csv('processed_dataset/clairvoyance/static_data.csv', sep=',')
df_static

            id  gender  age
0       141194       1   68
1       141233       0   81
2       141244       1   59
3       141284       1   63
4       141313       1   45
...        ...     ...  ...
42209  3353201       0   66
42210  3353216       0   50
42211  3353226       0   79
42212  3353235       1   50
42213  3353251       1   73

[42214 rows x 3 columns]

In [16]:
total_patient_num = df_static.shape[0]

# export all temporal data to csv

In [7]:
df_temporal = pd.DataFrame(columns=['id', 'time', 'variable', 'value'])
df_temporal.to_csv('processed_dataset/clairvoyance/temporal_data.csv', 
                   sep=',', index=False, mode='a')

In [17]:
for i, pid in enumerate(df_static['id']):
    df_temporal = pd.DataFrame(columns=['id', 'time', 'variable', 'value'])
    
    data = pd.read_csv(patient_data_path+str(pid)+'.csv', sep='\t', header=0)
    data['id'] = pid
    data = data[['id', 'Offset', 'UID', 'Value']]
    data = data.rename(columns={k1:k2 for k1,k2 in zip(data.columns, df_temporal.columns)})
    df_temporal = pd.concat([df_temporal, data], ignore_index=True)
    
    df_temporal.to_csv('processed_dataset/clairvoyance/temporal_data.csv', 
                   sep=',', index=False, header=False, mode='a')
    
    if i % 100 == 0:
        print(f'{i} / {total_patient_num}')

0 / 42214
100 / 42214
200 / 42214
300 / 42214
400 / 42214
500 / 42214
600 / 42214
700 / 42214
800 / 42214
900 / 42214
1000 / 42214
1100 / 42214
1200 / 42214
1300 / 42214
1400 / 42214
1500 / 42214
1600 / 42214
1700 / 42214
1800 / 42214
1900 / 42214
2000 / 42214
2100 / 42214
2200 / 42214
2300 / 42214
2400 / 42214
2500 / 42214
2600 / 42214
2700 / 42214
2800 / 42214
2900 / 42214
3000 / 42214
3100 / 42214
3200 / 42214
3300 / 42214
3400 / 42214
3500 / 42214
3600 / 42214
3700 / 42214
3800 / 42214
3900 / 42214
4000 / 42214
4100 / 42214
4200 / 42214
4300 / 42214
4400 / 42214
4500 / 42214
4600 / 42214
4700 / 42214
4800 / 42214
4900 / 42214
5000 / 42214
5100 / 42214
5200 / 42214
5300 / 42214
5400 / 42214
5500 / 42214
5600 / 42214
5700 / 42214
5800 / 42214
5900 / 42214
6000 / 42214
6100 / 42214
6200 / 42214
6300 / 42214
6400 / 42214
6500 / 42214
6600 / 42214
6700 / 42214
6800 / 42214
6900 / 42214
7000 / 42214
7100 / 42214
7200 / 42214
7300 / 42214
7400 / 42214
7500 / 42214
7600 / 42214
7700 / 42214
7800 / 42214
7900 / 42214
8000 / 42214
8100 / 42214
8200 / 42214
8300 / 42214
8400 / 42214
8500 / 42214
8600 / 42214
8700 / 42214
8800 / 42214
8900 / 42214
9000 / 42214
9100 / 42214
9200 / 42214
9300 / 42214
9400 / 42214
9500 / 42214
9600 / 42214
9700 / 42214
9800 / 42214
9900 / 42214
10000 / 42214
10100 / 42214
10200 / 42214
10300 / 42214
10400 / 42214
10500 / 42214
10600 / 42214
10700 / 42214
10800 / 42214
10900 / 42214
11000 / 42214
11100 / 42214
11200 / 42214
11300 / 42214
11400 / 42214
11500 / 42214
11600 / 42214
11700 / 42214
11800 / 42214
11900 / 42214
12000 / 42214
12100 / 42214
12200 / 42214
12300 / 42214
12400 / 42214
12500 / 42214
12600 / 42214
12700 / 42214
12800 / 42214
12900 / 42214
13000 / 42214
13100 / 42214
13200 / 42214
13300 / 42214
13400 / 42214
13500 / 42214
13600 / 42214
13700 / 42214
13800 / 42214
13900 / 42214
14000 / 42214
14100 / 42214
14200 / 42214
14300 / 42214
14400 / 42214
14500 / 42214
14600 / 42214
14700 / 42214
14800 / 42214
14900 / 42214
15000 / 42214
15100 / 42214
15200 / 42214
15300 / 42214
15400 / 42214
15500 / 42214
15600 / 42214
15700 / 42214
15800 / 42214
15900 / 42214
16000 / 42214
16100 / 42214
16200 / 42214
16300 / 42214
16400 / 42214
16500 / 42214
16600 / 42214
16700 / 42214
16800 / 42214
16900 / 42214
17000 / 42214
17100 / 42214
17200 / 42214
17300 / 42214
17400 / 42214
17500 / 42214
17600 / 42214
17700 / 42214
17800 / 42214
17900 / 42214
18000 / 42214
18100 / 42214
18200 / 42214
18300 / 42214
18400 / 42214
18500 / 42214
18600 / 42214
18700 / 42214
18800 / 42214
18900 / 42214
19000 / 42214
19100 / 42214
19200 / 42214
19300 / 42214
19400 / 42214
19500 / 42214
19600 / 42214
19700 / 42214
19800 / 42214
19900 / 42214
20000 / 42214
20100 / 42214
20200 / 42214
20300 / 42214
20400 / 42214
20500 / 42214
20600 / 42214
20700 / 42214
20800 / 42214
20900 / 42214
21000 / 42214
21100 / 42214
21200 / 42214
21300 / 42214
21400 / 42214
21500 / 42214
21600 / 42214
21700 / 42214
21800 / 42214
21900 / 42214
22000 / 42214
22100 / 42214
22200 / 42214
22300 / 42214
22400 / 42214
22500 / 42214
22600 / 42214
22700 / 42214
22800 / 42214
22900 / 42214
23000 / 42214
23100 / 42214
23200 / 42214
23300 / 42214
23400 / 42214
23500 / 42214
23600 / 42214
23700 / 42214
23800 / 42214
23900 / 42214
24000 / 42214
24100 / 42214
24200 / 42214
24300 / 42214
24400 / 42214
24500 / 42214
24600 / 42214
24700 / 42214
24800 / 42214
24900 / 42214
25000 / 42214
25100 / 42214
25200 / 42214
25300 / 42214
25400 / 42214
25500 / 42214
25600 / 42214
25700 / 42214
25800 / 42214
25900 / 42214
26000 / 42214
26100 / 42214
26200 / 42214
26300 / 42214
26400 / 42214
26500 / 42214
26600 / 42214
26700 / 42214
26800 / 42214
26900 / 42214
27000 / 42214
27100 / 42214
27200 / 42214
27300 / 42214
27400 / 42214
27500 / 42214
27600 / 42214
27700 / 42214
27800 / 42214
27900 / 42214
28000 / 42214
28100 / 42214
28200 / 42214
28300 / 42214
28400 / 42214
28500 / 42214
28600 / 42214
28700 / 42214
28800 / 42214
28900 / 42214
29000 / 42214
29100 / 42214
29200 / 42214
29300 / 42214
29400 / 42214
29500 / 42214
29600 / 42214
29700 / 42214
29800 / 42214
29900 / 42214
30000 / 42214
30100 / 42214
30200 / 42214
30300 / 42214
30400 / 42214
30500 / 42214
30600 / 42214
30700 / 42214
30800 / 42214
30900 / 42214
31000 / 42214
31100 / 42214
31200 / 42214
31300 / 42214
31400 / 42214
31500 / 42214
31600 / 42214
31700 / 42214
31800 / 42214
31900 / 42214
32000 / 42214
32100 / 42214
32200 / 42214
32300 / 42214
32400 / 42214
32500 / 42214
32600 / 42214
32700 / 42214
32800 / 42214
32900 / 42214
33000 / 42214
33100 / 42214
33200 / 42214
33300 / 42214
33400 / 42214
33500 / 42214
33600 / 42214
33700 / 42214
33800 / 42214
33900 / 42214
34000 / 42214
34100 / 42214
34200 / 42214
34300 / 42214
34400 / 42214
34500 / 42214
34600 / 42214
34700 / 42214
34800 / 42214
34900 / 42214
35000 / 42214
35100 / 42214
35200 / 42214
35300 / 42214
35400 / 42214
35500 / 42214
35600 / 42214
35700 / 42214
35800 / 42214
35900 / 42214
36000 / 42214
36100 / 42214
36200 / 42214
36300 / 42214
36400 / 42214
36500 / 42214
36600 / 42214
36700 / 42214
36800 / 42214
36900 / 42214
37000 / 42214
37100 / 42214
37200 / 42214
37300 / 42214
37400 / 42214
37500 / 42214
37600 / 42214
37700 / 42214
37800 / 42214
37900 / 42214
38000 / 42214
38100 / 42214
38200 / 42214
38300 / 42214
38400 / 42214
38500 / 42214
38600 / 42214
38700 / 42214
38800 / 42214
38900 / 42214
39000 / 42214
39100 / 42214
39200 / 42214
39300 / 42214
39400 / 42214
39500 / 42214
39600 / 42214
39700 / 42214
39800 / 42214
39900 / 42214
40000 / 42214
40100 / 42214
40200 / 42214
40300 / 42214
40400 / 42214
40500 / 42214
40600 / 42214
40700 / 42214
40800 / 42214
40900 / 42214
41000 / 42214
41100 / 42214
41200 / 42214
41300 / 42214
41400 / 42214
41500 / 42214
41600 / 42214
41700 / 42214
41800 / 42214
41900 / 42214
42000 / 42214
42100 / 42214
42200 / 42214

In [2]:
df_temporal = pd.read_csv('processed_dataset/clairvoyance_formatted/temporal_data.csv')
df_temporal

            141194      6.0  100002.0  112.0
0           141194     11.0  100002.0  112.0
1           141194     16.0  100002.0  112.0
2           141194     21.0  100002.0  112.0
3           141194     26.0  100002.0  117.0
4           141194     31.0  100002.0  114.0
...            ...      ...       ...    ...
187264046  3353251  12374.0  700007.0    1.0
187264047  3353251  12374.0  700026.0    2.0
187264048  3353251  12374.0  700005.0    2.0
187264049  3353251  12374.0  700009.0    2.0
187264050  3353251  12374.0  700052.0    3.0

[187264051 rows x 4 columns]